<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninemax.mapper.mysql.JournalMapper">
	
	<resultMap id = "results" type = "com.ninemax.entity.Journal">
		<result property = "journalId" column = "journalid"/>
		<result property = "journalName" column = "journalname"/>
		<result property = "articleCount" column = "articlecount"/>
		<result property = "authorCount" column = "authorcount"/>
		<result property = "chinaAuthorCount" column = "chinaauthorcount"/>
		<result property = "otherAuthorCount" column = "otherauthorcount"/>
		<result property = "chinaArticleCount" column = "chinaarticlecount"/>
	</resultMap>
	
	
	<insert id="insertJournal" parameterType="java.util.List">
		
		INSERT INTO journal 
			(
				journalid,
				journalname,
				articlecount,
				authorcount,
				chinaauthorcount,
				otherauthorcount,
				chinaarticlecount
			)
			VALUES
		<foreach collection="list" item="item" index="index" separator=",">
				
			(
				#{item.journalId},
				#{item.journalName},
				#{item.articleCount},
				#{item.authorCount},
				#{item.chinaAuthorCount},
				#{item.otherAuthorCount},
				#{item.chinaArticleCount}
			)
		</foreach>

	</insert>

</mapper>

